{% extends 'base.html' %}
{% load static %}

{% block content %}



<br><br><br><br>
<!-- Project Two Row-->
<h1><center><b><em> Circuit Touristique </em></b> </center></h1>
{% for pack_travels in pack_travels %}
<div class="row gx-0 justify-content-center" data-aos="fade-up">
    <div class="col-lg-6"><img class="img-fluid" src="{{pack_travels.image.url}}" alt="..." /></div>
    reservations
    <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">{{pack_travels.pack_name}}</h4>
                    <p class="mb-0 text-white-50">{{pack_travels.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<center><div class="col-lg-8"><img class="img-fluid" style="background-color: ivory;" src="{{pack_travels.image_circuit.url}}" alt="..." /></div></center>
<center><h4 class="text-white">{{pack_travels.pack_name}}</h4></center>
<br><br><br><br><br>
<center><h4 class="text-white">Informations diverses</h4></center>
<br><br><br><br><br>
<p class="mb-0 text-white-50">{{pack_travels.informations_diverses}}</p>

<div class="text-center">   
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist" data-aos="fade-up">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-itineraire-tab" data-bs-toggle="pill" data-bs-target="#pills-itineraire" type="button" role="tab" aria-controls="pills-itineraire" pills-itineraire-selected="false">Itinéraire</button></li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-prix-dates-tab" data-bs-toggle="pill" data-bs-target="#pills-prix-dates" type="button" role="tab" aria-controls="pills-prix-dates" aria-selected="false">Prix &amp; Dates</button></li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-fiche-technique-tab" data-bs-toggle="pill" data-bs-target="#pills-fiche-technique" type="button" role="tab" aria-controls="pills-fiche-technique" aria-selected="true">Fiche technique</button></li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-nos-engagements-tab" data-bs-toggle="pill" data-bs-target="#pills-nos-engagements" type="button" role="tab" aria-controls="pills-nos-engagements" aria-selected="false">Nos engagements</button></li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-galerie-photos-tab" data-bs-toggle="pill" data-bs-target="#pills-galerie-photos" type="button" role="tab" aria-controls="pills-galerie-photos" aria-selected="false">Galerie Photos</button></li>
    </ul>
</div>

<div class="col-lg-5 text-center order-lg-first mb-5 mb-lg-0 mb-lg-3 mb-xl-0" id="pills-tabContent">
    
    <!-- Itinéraire Tab Content -->
    <div class="tab-pane fade show active" id="pills-itineraire" role="tabpanel" aria-labelledby="pills-itineraire-tab">
        <h3 class="mb-4 text-white text-center">Itinéraire</h3>
        <p class="mb-4 text-white text-center"> {{ pack_travels.itinerary }} </p>
    </div>
    
    <!-- Prix & Dates Tab Content -->
    <div class="tab-pane fade" id="pills-prix-dates" role="tabpanel" aria-labelledby="pills-prix-dates-tab">
        <h3>Prix & Dates</h3>
        <p>{{ pack_travels.prix_dates }}</p>
    </div>
    
    <!-- Fiche Technique Tab Content -->
    <div class="tab-pane fade show active" id="pills-fiche-technique" role="tabpanel" aria-labelledby="pills-fiche-technique-tab">
        <h3>Fiche Technique</h3>
        <p>{{ pack_travels.fiche_technique }}</p>
    </div>
    
    <!-- Nos Engagements Tab Content -->
    <div class="tab-pane fade" id="pills-nos-engagements" role="tabpanel" aria-labelledby="pills-nos-engagements-tab">
        <h3>Nos Engagements</h3>
        <p>{{ pack_travels.nos_engagements }}</p>
    </div>
    
    <!-- Galerie Photos Tab Content -->
    <div class="tab-pane fade" id="pills-galerie-photos" role="tabpanel" aria-labelledby="pills-galerie-photos-tab">
        <h3>Galerie Photos</h3>
        <p>{{ pack_travels.galerie_photos }}</p>
    </div>
    
</div>
 <br><br><br><br>
{% endfor %}
<br><br><br><br>
{% endblock %}

