{% extends 'base.html' %}
{% load static %}

{% block content %} 
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
<br><br><br>
                <!-- Project Two Row-->
                {% for pack_travels in pack_travel %} 
                 <h1><center><b><em> Pack Travel Loop </em></b> </center></h1>
                
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{{pack_travels.image.url}}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                  <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">{{pack_travels.pack_name}}</h4>
                                    <p class="mb-0 text-white-50">{{pack_travels.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <center><h3>Prix : {{pack_travels.price}} DH</h3></center>
                <div class="text-center mb-5">
                    <a href="{% url 'reservCroisiere' pack_travels.id %}" class="btn btn-success btn-lg">
                        <i class="fas fa-check-circle me-2"></i>Choisir cette croisiere
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}


