# requirements.txt

pafy
django
python-vlc
numpy
ffmpeg
youtube_dl
elevate
pywebcopy
bs4
openpyxl
pyodbc
pypyodbc
moviepy
requests
nuitka
pandas
yt_dlp
pytube
pytubefix
pydub
httpx
mechanize
Scrapy 
pathlib 
playwright
tuitka
selenium 
ttkthemes
python-mpv
dotenv
stripe
Pillow
